@font-face {
  font-family: 'Europa';
  src: local('Europa-RegularItalic'),
    url('../fonts/europa/Europa-RegularItalic.woff2') format('woff2'),
    url('../fonts/europa/Europa-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Europa';
  src: local('Europa-LightItalic'),
    url('../fonts/europa/Europa-LightItalic.woff2') format('woff2'),
    url('../fonts/europa/Europa-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Europa';
  src: local('Europa-Regular'),
    url('../fonts/europa/Europa-Regular.woff2') format('woff2'),
    url('../fonts/europa/Europa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Europa';
  src: local('Europa-BoldItalic'),
    url('../fonts/europa/Europa-BoldItalic.woff2') format('woff2'),
    url('../fonts/europa/Europa-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Europa';
  src: local('Europa-Light'),
    url('../fonts/europa/Europa-Light.woff2') format('woff2'),
    url('../fonts/europa/Europa-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Europa';
  src: local('Europa-Bold'),
    url('../fonts/europa/Europa-Bold.woff2') format('woff2'),
    url('../fonts/europa/Europa-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
